/* Twilight.css */

.twilight-page {
  background-color: black;
  color: white; /* Set text color to white for better visibility */
  padding: 50px
}

.twilight-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twilight-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twilight-preview {
  display: flex;
  justify-content: center;
  gap: 10px; /* Increase the gap between thumbnails if needed */
}

.thumbnail {
  width: 200px; /* Adjust the width of the thumbnails */
  height: 200px; /* Adjust the height of the thumbnails */
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.thumbnail.active {
  border: 2px solid #333; /* Border for active thumbnail */
}

.twilight-main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.twilight-gallery-image {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

/* Style for navigation buttons */
.twilight-gallery-container button {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.twilight-gallery-container button:hover {
  background-color: #333;
  color: #fff;
}
