/* Gallery.css */

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /* Add margin to move the entire gallery down */
  }
  
  .gallery-item {
    position: relative;
    margin-bottom: 20px;
  }
  
  .gallery-image {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }
  
  .gallery-headline {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
  }
  